# Database
DATABASE_URL="postgresql://user:password@localhost:5432/stellarcred?schema=public"

# Stellar
# Generate a Stellar Testnet keypair at https://laboratory.stellar.org/#account-creator?network=testnet
APP_WALLET_SECRET="SXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
NEXT_PUBLIC_APP_WALLET="GXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
